<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>height</key>
		<integer>3</integer>
		<key>width</key>
		<integer>3</integer>
		<key>map</key>
		<string>11121112111</string>
	</dict>
</dict>
</plist>
