<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>map</key>
		<array>
			<string>1111111</string>
			<string>1111111</string>
			<string>1111111</string>
			<string>1111111</string>
			<string>1111111</string>
			<string>1111111</string>
			<string>1111111</string>
		</array>
	</dict>
</dict>
</plist>
